img {
  height: 300px;
  width: 300px;
}
body {
  background-color: black;
}


h1 {
  color: aquamarine;
  font-style: italic;
}
.sidebar {
  float: right;
  text-align: right;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
  color: lightcoral;
  
}
h2 {
  color: royalblue;
  text-align: center;
}
p {
  color: salmon;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h3 {
  color:blue;
  text-align: center;
  font-style: italic;
}